* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Anek Latin', sans-serif;

}
#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  width: 450px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 30px auto;
}
#root::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background: url('./images/t-image-img-paper-cut-60.svg') no-repeat center/cover;
}
.fa-bag-shopping {
  color: hotpink;
}
.wrap {
  background-color: #ece2ff69;
  padding: 30px 30px;
  border-radius: 20px;
  margin: 0 auto;
  width: 390px;

}
.fa-bag-shopping {
  color: #ff89e1;
  font-size: 39px;
  vertical-align: middle;
  margin-right: 5px;
}
ul {
  padding: 0;
}
.title {
  font-size: 32px;
  text-align: center;
}
button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  font-size: 30px;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.navbar:after {
  content: '';
  position: absolute;
  width: 78%;
  height: 16px;
  background: #dfd3ff;
  bottom: 12px;
  left: 44px;
  z-index: -1;
}

.navbar-logo {
  color: green;
  margin-right: 0.5em;
}

.navbar-count {
  display: inline-block;
  width: 100%;
  padding: 10px 60px;
  text-align: right;
}
.add-form {
  display: flex;
  width: 100%;
  align-items: center;
}
.add-input {
  flex: 1 0 auto;
  margin-right: 12px;
  padding: 10px 20px;
  font-size: 14px;
}

.add-button {
  height: 100%;
  padding: 10px 20px;
  background-color: green;
  color: white;
  font-size: 14px;
}
.habit-list {
  margin-top: 30px;
}
.habit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid gray;
}
.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: #9075d5;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.habits-reset {
  font-size: 20px;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}
